.cardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    min-height: 100vh; 
}

.cardContent{
    max-width: 28rem;
    width: 100%;
} 

.cardBody{

    border-radius: 0.5rem; /* 8px */ 
    padding: 1.5rem; 
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.cardBelow{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.cardTitle{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cardForm{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.inputRow{
    display: flex;   
    width: 100%; 
    margin: 10px; 
    align-items: center; 
    flex-direction: row; 
}

.inputRow label {
    flex: 0.3; 
}

.inputRow input { 
    flex: 0.7; 
}

.selectConatiner {     
    flex: 0.75; 
    width: 100%;    
}   

@media only screen and (max-width: 500px) { 
    .inputRow{
        flex-direction: column;  
    }
    .inputRow label {
        margin-bottom: 5px; 
    }
}